nav {
  height: 120px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 998;
  transition: 300ms ease;

  .link-logo {
    text-decoration: none;
    color: white;
    font-family: "Bungee";
  }
}

.nav-inner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cream);
  padding: 0;
  padding: 0 1em;
}

.nav-right {
  h5 {
    margin: 0;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--cream);
    transition: 300ms ease;
  }

  a i {
    animation: bounceArrow 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  a:hover {
    color: var(--mainColor);
    transition: 300ms ease;
  }
}

.isScrolled {
  background-color: var(--cream);
  transition: 300ms ease;
  border-bottom: 1px solid black;

  .nav-inner-container,
  .link-logo span,
  .nav-right a {
    color: var(--mainColor);
  }
  .nav-right a:hover {
    color: var(--hoverColor);
  }
}

@keyframes bounceArrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: var(--cream);
    border-bottom: 1px solid black;
  }

  nav h1,
  nav .nav-right a {
    color: var(--mainColor);
  }
}
