.display-tweets-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tweet-item {
  height: 250px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  transition: 300ms ease;
  border: 1px solid var(--offBlack);
  margin: 50px 0px;
}

.tweet-item:hover {
  box-shadow: var(--shadow);
}

.tweet-item .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-item .user-info * {
  margin: 0;
}

.tweet-item .handle {
  opacity: 0.5;
}

.tweet-item .header-left {
  display: flex;
  align-items: center;
}

.tweet-item .header-left img {
  margin-right: 0.5em;
}

.tweet-item .tweet {
  text-align: center;
  border-radius: 10px;
  word-break: break-all;
}

.tweet-details {
  border-top: 3px solid var(--offBlack);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tweet-details p {
  margin: 0;
  font-size: 20px;
}

.tweet-details ul {
  list-style-type: none;
  margin: 0;
}

.tweet-details ul a {
  text-decoration: none;
  color: var(--offBlack);
  transition: 300ms ease;
}

.tweet-details ul a:hover {
  color: var(--mainColor);
}

.tweet-details ul li {
  display: inline;
}
