footer {
  height: 80vh;
  margin-top: 40px;
  padding: 20px;
  background-color: #bcd8cc;
  color: var(--cream);
  position: relative;
  z-index: -1;
}

footer h3 {
  display: inline-block;
}

.footer-floating-circle {
  height: 200px;
  width: 200px;
  background-color: #dc7442;
  filter: blur(50px);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

