.global-footer {
  height: 60vmax;
  max-height: 600px;
  margin-top: 40px;
  color: var(--cream);
  position: relative;
  overflow: hidden;
}

.global-footer h3 {
  display: inline-block;
}

.global-footer .content {
  z-index: 999;
  width: 400px;
  height: 50vmax;
  position: sticky;
  margin: 5vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  
}

.waves-container {
  height: 100%;
  width: 250%;
  position: absolute;
  top: 0;
  
}

.global-footer {
  background-image: url(#waves);
}

.global-footer form {
  font-size: 20px;
}

.global-footer form input {
  width: 300px;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
}

.global-footer form input:focus {
  outline: none;
}

.global-footer button {
  color: var(--cream);
  background: transparent;
  padding: 10px;
  border-radius: 40px;
  border: 0.5px solid var(--cream);
  transition: 300ms ease;
  font-weight: 200;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
}

.global-footer button:hover {
  background-color: var(--cream);
}

.global-footer button:hover .label {
  color: var(--mainColor);
}

.global-footer button .label {
  position: sticky;
  transition: 300ms ease;
  z-index: 3;
}

.global-footer button .circle {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: -50px;
  right: 0;
  background-color: var(--mainColor);
  border-radius: 50%;
  z-index: 1;
  display: block;
}

.circleIn {
  animation: in 500ms ease;
  animation-fill-mode: forwards;
}

.circleOut {
  animation: out 500ms ease;
  animation-fill-mode: forwards;
}

.wave {
  position: absolute;
  top: 20px;
  left: 0;
  animation: moveWave 15s linear infinite;
  -webkit-filter: drop-shadow(10px 10px 50px rgba(179, 135, 135, 0.5));
  filter: drop-shadow(3px 2px 10px rgba(0, 0, 0, 0.2));
}

.global-footer svg {
  width: 100%;
}

.wave2 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 200%;
  animation: moveWave 15s linear infinite;
  animation-direction: reverse;
  -webkit-filter: drop-shadow(10px 10px 50px rgba(179, 135, 135, 0.5));
  filter: drop-shadow(3px 2px 10px rgba(0, 0, 0, 0.2));
}

.wave3 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 200%;
  animation: moveWave 15s linear infinite;
  -webkit-filter: drop-shadow(10px 10px 50px rgba(179, 135, 135, 0.5));
  filter: drop-shadow(3px 2px 10px rgba(0, 0, 0, 0.2));
}

@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
