/* Global Styles */

:root, body {
  --cream: hsl(37, 27%, 94%);
  --mainColor: #7768ca;
  --hoverColor: rgb(111, 138, 196); 
  --red: #f04141;
  --offBlack: #545149;
  --shadow: 0 1.5vw 3vw rgb(0 0 0 / 20%);
}

/* Hide body by default - fadeIn on page load */
body {
  display: none;
  overflow-x: hidden;
}

h1, h2, h3 {
  letter-spacing: -1px;
}

section {
  margin-top: 3em;
}

button:hover .label{
  color: var(--cream);
}

#backtotop {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cream);
  text-decoration: none;
  padding: 1em;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  height: 80px;
  width: 80px;
  margin: 1em;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
}

#backtotop:hover {
  background-color: var(--hoverColor);
  color: var(--cream);
}