.global-header {
  height: 400px;
  width: 100%;
  background: linear-gradient(to top left, #f0bebc, #eb8e88, #f1af7a, #eade8d, #b9ddb3, #aacede, #cbcde9);
  background-size: 400%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  animation: animateHeaderBg 8s ease-in-out infinite;
  animation-direction: alternate-reverse;
}



.global-header h1 {
  text-align: center;
  margin: 0 2em;
  color: var(--cream);
  z-index: 1;
}

.global-header img {
  z-index: 1;
}

#layer_1 {
  width: 100%;
}

@keyframes animateHeaderBg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
