.global-header {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to top left, #9b94c4, #f3b162, #f3b1b2, #4aa0b1);
  background-size: 350%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  animation: animateHeaderBg 8s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.global-header h1 {
  text-align: center;
  margin: 0 2em;
  color: #f4f1ec;
  z-index: 1;
}

.global-header img {
  z-index: 1;
}

#layer_1 {
  width: 100%;
}

@keyframes animateHeaderBg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
