header .profile-img-container{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(151, 201, 206);
  
  background-image: url(/images/asfalt-dark.png);
  
}

header h2 {
  text-align: center;
}