nav {
  height: 120px;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background-color: #4056A1;
  border-bottom: 1px solid black;
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 0;
}

nav #logo {
  font-family: 'Bungee';
}

.nav-inner-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0;
}

.nav-right {
  display: flex;
  flex-direction: column;
}

.nav-right h5 {
  margin-bottom: 5px;
}


.nav-right i {
  align-self: center;
}

