.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form label {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.new-tweet form textarea {
  border: 0px;
  border-bottom: 3px solid black;
  background: transparent;
  line-height: 12px;
}

.new-tweet form textarea:focus {
  outline: none;
}

.tweet-form-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tweet-form-controls button {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: white;
  padding: 5px 10px;
}

