#new-tweet {
  border-radius: 10px;
  box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 3em 0;
  display: none;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form label {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.new-tweet form textarea {
  border: 0px;
  border-bottom: 3px solid #545149;
  background: transparent;
  line-height: 35px;
  resize: none;
}

.new-tweet form textarea:focus {
  outline: none;
}

#compose-form .form-error {
  font-size: 15px;
  color: #f04141;
  margin-top: 1em;
  font-weight: 600;
  display: none;
}

.invalid-field {
  border-bottom: 3px solid #f04141 !important;
}

.tweet-form-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.tweet-form-controls button {
  color: #7768ca;
  padding: 3px 30px;
  border-radius: 40px;
  border: 0.5px solid #7768ca;
  transition: 300ms ease;
  font-weight: 200;
  overflow: hidden;
  position: relative;
  font-family: "Bungee";
}

.tweet-form-controls button .label {
  position: sticky;
  transition: 300ms ease;
  z-index: 3;
}

.tweet-form-controls button .circle {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: -50px;
  right: 0;
  background-color: #7768ca;
  border-radius: 50%;
  z-index: 1;
  display: block;
}

.circleIn {
  animation: in 500ms ease;
  animation-fill-mode: forwards;
}

.circleOut {
  animation: out 500ms ease;
  animation-fill-mode: forwards;
}

.tweet-form-controls #counter {
  font-weight: 900;
  display: flex;
  align-items: center;
}

.charLimitExceeded {
  color: #f04141;
}

/* Tranform button circle in */
@keyframes in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(6);
  }
}
/* Transform button circle out */
@keyframes out {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}
