#new-tweet {
  border-radius: 10px;
  box-shadow: 0 1.5vw 3vw rgb(0 0 0 / 20%);
  padding: 40px ;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form label {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.new-tweet form textarea {
  border: 0px;
  border-bottom: 3px solid black;
  background: transparent;
  line-height: 35px;
  resize: none;
}

.new-tweet form textarea:focus {
  outline: none;
}

.tweet-form-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: 'Bungee';
}

.tweet-form-controls button {
  background-color: var(--mainColor);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: 0px;
  transition: 300ms ease;
}

.charLimitExceeded {
  color: red;
}

